<h1>DBC Missed Connections</h1>

<% if current_user %>
  <p>Hello <%=current_user.name%>!</p>
  <%= link_to "sign out", signout_path %>
<% else %>
  <%= link_to "sign in with socrates", "auth/dbc" %>
<% end %>
